body {
    background-color: #F6F4F0;
    margin: 0px 0px;
}

header {
    background-color: #2A2C2E;
    height: 50px;
    width: 70%;
    align-self: center;
    border-radius: 15px; 
}

nav > ul > li {
    display: inline;
    list-style: none;
}

nav > ul > li > a {
    text-decoration: none;
    padding: 5px 10px;
    color:  #FFFFFF99;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
} 

header > nav > ul > li > a:hover{
    color:#F4D867;
}

header > div > button {
    background-color: transparent;
    border: none;   
}

#login-btn {
    background-color: #F4CE47;
    color: #000000DE;
    border: none;

    box-sizing : border-box;
    border-radius : 10px;
    height : 40px;
    width : 80px;
}

#login-btn:hover {
    background-color: #F4BA30;
    
    box-sizing : border-box;
    border-radius : 10px;
    height : 40px;
    width : 70px;
    font-size: 75%;
}

#banner {
    background-color: #F4CE47;
    box-sizing: border-box;
    width: 100%;
}


#banner > div {
    color: #F4BA30;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#book-list {
    background-color: #2A2C2E;
    box-sizing: border-box;
    width: 100%;
}

#bl-container {   
    align-self: center;
}

footer {
    /* background-color: gray; */
    width: 75%;
    align-self: center;
}

#footer-up {
    background-color: #2A2C2E;

    padding: 0px 20px;
    height: 80px;
}

#footer-down {
    color: #FFFFFF;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000DE;

    padding: 0px 20px;
}

p {
    margin: 5px;
}